.img-responsive {
    border-radius: 7%;
}
.row{
    padding-bottom: 17px;
}

.list-group {
    font-size: 17px;
}
.nav-tap {
    zoom:150%;
}


 .img-responsive{
    height:380px;
    width:auto;
 }

.zoom{
    zoom: 1.5;
}