<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>Operation</h1>
            <ul class="list-group">
              <li class="list-group-item">
                Cras justo odio
              </li>
              <li class="list-group-item">
                Dapibus ac facilisis in
              </li>
              <li class="list-group-item">
                Morbi leo risus
              </li>
            </ul>
        </div>
        <div class="col-md-6">
              <img class="img-responsive" src="http://media.istockphoto.com/photos/friends-connection-digital-devices-technology-network-concept-picture-id525208898?s=2048x2048">
        </div>
    </div>


        <div class="row">
        <div class="col-md-6">
              <img class="img-responsive" src="http://media.istockphoto.com/photos/friends-connection-digital-devices-technology-network-concept-picture-id525208898?s=2048x2048">
        </div>
        <div class="col-md-6">
            <h1>Operation</h1>
            <ul class="list-group">
              <li class="list-group-item">
                Cras justo odio
              </li>
              <li class="list-group-item">
                Dapibus ac facilisis in
              </li>
              <li class="list-group-item">
                Morbi leo risus
              </li>
            </ul>
        </div>
    </div>

        <div class="row">
        <div class="col-md-6">
            <h1>Operation</h1>
            <ul class="list-group">
              <li class="list-group-item">
                Cras justo odio
              </li>
              <li class="list-group-item">
                Dapibus ac facilisis in
              </li>
              <li class="list-group-item">
                Morbi leo risus
              </li>
            </ul>
        </div>
        <div class="col-md-6">
              <img class="img-responsive" src="http://media.istockphoto.com/photos/friends-connection-digital-devices-technology-network-concept-picture-id525208898?s=2048x2048">
        </div>
    </div>


        <div class="row">
        <div class="col-md-6">
              <img class="img-responsive" src="http://media.istockphoto.com/photos/friends-connection-digital-devices-technology-network-concept-picture-id525208898?s=2048x2048">
        </div>
        <div class="col-md-6">
            <h1>Operation</h1>
            <ul class="list-group">
              <li class="list-group-item">
                Cras justo odio
              </li>
              <li class="list-group-item">
                Dapibus ac facilisis in
              </li>
              <li class="list-group-item">
                Morbi leo risus
              </li>
            </ul>
        </div>
    </div>   
</div>