<div class="zoom">
  <ul class="nav nav-tabs">
  <li class=""><a href="#Operation" data-toggle="tab" aria-expanded="false">Operation</a></li>
  <li class=""><a href="#PCB" data-toggle="tab" aria-expanded="true">PCB Assembly</a></li>
  <li class=""><a href="#Tooling" data-toggle="tab" aria-expanded="true">Tooling</a></li>
  <li class=""><a href="#Other" data-toggle="tab" aria-expanded="true">Other Special Service</a></li>

</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active in" id="Operation">
            <ul class="list-group">
              <li class="list-group-item">
                We do full manufacturing services
              </li>
              <li class="list-group-item">
                We deliver quality products at very competitive price
              </li>
              <li class="list-group-item">
                Fast turn around
              </li>

                <li >
                    <img class="img-responsive" src="../../assets/images/Operation.jpg">
                </li>
            </ul>

  </div>
  <div class="tab-pane fade active in" id="PCB">
        <ul class="list-group">
              <li class="list-group-item">
                Plastic
              </li>
              <li class="list-group-item">
                Die Casting &amp; Cutting
              </li>
              <li class="list-group-item">
                Machining
              </li>
              <li class="list-group-item">
                Assembling
              </li>
                <li >
                    <img class="img-responsive" src="../../assets/images/PCBassembly.jpeg">
                </li>
            </ul>
  </div>

  <div class="tab-pane fade active in " id="Tooling">
            <ul class="list-group">
              <li class="list-group-item">
                Plastic
              </li>
              <li class="list-group-item">
                Die Casting &amp; Cutting
              </li>
              <li class="list-group-item">
                Machining
              </li>
              <li class="list-group-item">
                Assembling
              </li>
                <li >
                    <img class="img-responsive" src="../../assets/images/Tooling.jpeg">
                </li>
            </ul>
  </div>


  <div class="tab-pane fade active in " id="Other">
            <ul class="list-group">
              <li class="list-group-item">
                Fast Industrial Design Modeling
              </li>
            </ul>
  </div>
</div>


</div>

