  <div class="container header"> 
    <!-- Header | Logo, Menu
		================================================== -->
    <header>
      <div class="logo"><a href="index.html"><img src="././assets/images/logo.png" alt="" /></a></div>
        <div id="mainmenu">
          <ul class="sf-menu">
            <li><a routerLink="information" id="visited"><span class="home"><img src="././assets/images/home.png" alt="" /></span>Home</a></li>
            <li><a routerLink="about"><span class="home"><img src="././assets/images/about.png" alt="" /></span>About</a></li>
            <li><a href="portfolio.html"><span class="home"><img src="././assets/images/portfolio.png" alt="" /></span>Portfolio</a>
              <ul>
                <li><a href="gallery.html">Portfolio Gallery</a></li>
              </ul>
            </li>
            <li><a href="blog.html"><span class="home"><img src="././assets/images/blog.png" alt="" /></span>Blog</a>
              <ul>
                <li><a href="singleblog.html">Single Post</a></li>
              </ul>
            </li>
            <li><a href="features.html"><span class="home"><img src="././assets/images/features.png" alt="" /></span>features</a></li>
            <li><a href="contact.html"><span class="home"><img src="././assets/images/contact.png" alt="" /></span>Contact</a></li>
          </ul>
        </div>
    </header>
  </div>


