    <div class="jumbotron text-center">
            <h1>Extended <br>Contract Manufacturing <br>Operation Service</h1>
    </div>


<div>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Operation</h3>
              </div>
              <div class="panel-body" style="height:107px">
                  
                  <li><strong>Production</strong></li>
                  <li><strong>Inventory Control</strong></li>
                  <li><strong>Order Fulfillment</strong></li>
                  <li><strong>RMA Service</strong></li>
              </div>

                <div class="img-wrapper">
                    <a href="list"><img class="img-responsive" src="../../assets/images/Operation.jpg"></a>
                </div>


            </div>
        </div>

        <div class="col-md-4">
                <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">PCB Assstrongbly</h3>
              </div>
              <div class="panel-body" style="height:107px">
                  <li><strong>From Prototype to production</strong><br><br><br></li>

              </div>
                <div class="img-wrapper">   
                    <a href="list"><img class="img-responsive" src="../../assets/images/PCBassembly.jpeg"></a>
                </div>
            </div>
       </div>

        <div class="col-md-4">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Tooling</h3>
              </div>
              <div class="panel-body" style="height:107px">
                  <li><strong>Plastic</strong></li>
                  <li><strong>Machining</strong></li>
                  <li><strong>Prototype Model</strong><br><br></li>
              </div>
                <div class="img-wrapper">
                    <a href="list"><img class="img-responsive" src="../../assets/images/Tooling.jpeg"></a>
                </div>
            </div>
        </div>
      </div>





</div>

