.jumbotron {
    margin-bottom: 5px;
    background-image: url(../../assets/images/AdobeStock.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    height: 370px;
    padding-top: 5px;

}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-bottom: 5px;
}
.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    height: 100px;
}