.jumbotron {
    margin-bottom: 27px;
    background-image: url(../../assets/images/AdobeStock.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    height: 370px;
    vertical-align: 90%;
}
.jumbotron h1{
     position: relative;
     top: -7%;
}

.img-wrapper {
  position: relative;
  padding: 5px;

  
 }

 .img-responsive{
    height:380px;
    width:650px;
 }


.img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.img-overlay:before {
  content: ' ';
  display: block;
  /* adjust 'height' to position overlay content vertically */
  height: 50%;
}



.post-container {
    margin: 20px 20px 0 0;  
    //border: 5px solid #333;
    overflow: auto
}
.post-thumb {
    float: left;
    padding-right: 30px;
}
.post-thumb img {
    display: block;
    height: 50%;
}
.post-content {
    margin-left: 210px
}
.post-title {
    font-weight: bold;
    font-size: 200%
}