
    <div class="jumbotron text-center">
            <h1>Extended Contract <br>Manufacturing Operation Service</h1>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>


<div class="container">
    <div class="row">
        <div class="col-md-4">

            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Design</h3>
              </div>
              <div class="panel-body">
                  <li>Industrial Design</li>
                  <li>Mechanical Design</li>
                  <li>Circuit Board Design &amp; Layout</li>
              </div>
              <div class="fill">
                   <img src="http://media.istockphoto.com/photos/friends-connection-digital-devices-technology-network-concept-picture-id525208898?s=2048x2048" alt="Image">
              </div>
            </div>
        </div>

        <div class="col-md-4">
                <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">PCB Assembly</h3>
              </div>
              <div class="panel-body">
                  <li>Quick-turn Prototype PCB &amp; Box Assemblies</li>
                  <li>Low/Medium/High Volume Production</li>
                  <li>Full Turnkey &amp; Consignment</li>
              </div>
              <div class="fill">
                   <img src="http://media.istockphoto.com/photos/friends-connection-digital-devices-technology-network-concept-picture-id525208898?s=2048x2048" alt="Image">
              </div>
            </div>
       </div>

        <div class="col-md-4">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">CNC Machining/Injection Molding</h3>
              </div>
              <div class="panel-body">
                  <li>Quick-turn Prototype PCB &amp; Box Assemblies</li>
                  <li>CNC Prototype/3D Printing</li>
                  <li>Tooling/Die Casting/Machining</li>
              </div>
              <div class="fill">
                   <img src="http://media.istockphoto.com/photos/friends-connection-digital-devices-technology-network-concept-picture-id525208898?s=2048x2048" alt="Image">
              </div>
            </div>
        </div>
      </div>
</div>

