<div class="contactimg"> 
    <img src="../../assets/images/Contact.jpeg"  style="width:1177px;"/>
</div>  
        <h3 class="post-title">Contact</h3>
                <p><strong>Contact Paritron now to move forward together!<br>We are here to help 
                to resolve any production issues </strong> <strong> <br><br>Telephone:<br>
                    </strong>408-206-1500
                    <strong><br><br>Email: 
                    </strong><br>sales@paritron.com<br></p>

                    <strong><br><a class="btn btn-default"  (click)=fillform()>Email Us</a>
                    </strong>


<div style="padding-top:5px;">
<iframe *ngIf="AddTable" src="https://docs.google.com/forms/d/e/1FAIpQLSd_9CVaLXHLm6s-Yi1VnvNhQqteH9IbwkbFYevcJkwdPHo0nQ/viewform?embedded=true" width="100%" height="1120" frameborder="0" marginheight="0" marginwidth="0" >Loading...</iframe>
</div>