<div class="container">



<div class="post-container">                
    <div class="post-thumb"><img src="../../assets/images/1.jpg" /></div>
    <div class="post-content">
        <h3 class="post-title">Contact</h3>



                <p><strong>Thank you for your interest. For questions or 
                    comments, please use the information below. We look 
                    forward to hearing from you soon. <br><br>Hours of Operation: 
                    </strong><br>Monday–Friday, 8:00 a.m.–5:00 p.m.
                    <strong> <br><br>Service Area:<br>
                    </strong>Proudly Serving Milpitas, California
                    <strong><br><br>Phone: 
                    </strong><br>(669) 999-6852<br></p>

                    <strong><br><br><a   (click)=fillform()>Leave Feedback</a>
                    </strong>


   </div>
</div>

</div>
<div class="container">

<iframe *ngIf="AddTable" src="https://docs.google.com/forms/d/e/1FAIpQLSd_9CVaLXHLm6s-Yi1VnvNhQqteH9IbwkbFYevcJkwdPHo0nQ/viewform?embedded=true" width="100%" height="1120" frameborder="0" marginheight="0" marginwidth="0" >Loading...</iframe>
</div>